@use 'variables' as vars;
@use 'mixins' as mixins;

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    height: 100vh;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

#root {
    padding: 0;
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: column; /* Flexbox layout for proper footer positioning */
}


header, nav, ul, li {
    margin: 0;
    padding: 0;
}

header {
    color: vars.$black-1;
    border-bottom: 1px solid vars.$black-3;
}

nav {
    @include mixins.flex-row(center, space-between, 0);
    padding: 24px;
}

nav img {
    width: 113px;
    height: 32px;
}

nav img:hover {
    cursor: pointer;
}