@use '../../styles/variables' as vars;
@use '../../styles/mixins' as mixins;

.container {
    @include mixins.flex-row(center, space-between, 0);
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    border-top: 1px solid vars.$black-3;
    padding: 17px 24px;
}

.controls {
    @include mixins.flex-row(start, start, 23px);
}

.controls::after {
    display: block;
    content: '';
    border-top: 1px solid vars.$black-1;
    position: absolute;
    left: 0;
    right: 100%;
    top: 0;
}

.controls.animate::after {
    animation: load 5s infinite linear;
}

@keyframes load {
    0%   {right: 100%;}
    100% {right: 0;}
}

button {
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

button:disabled {
    cursor: not-allowed;
    opacity: 15%;
}