@use '../../styles/variables' as vars;
@use '../../styles/mixins' as mixins;

.main_container{
    position: relative;
    height: 100%;
}

.slideshow_container {
    @include mixins.flex-column(start, start);
    flex: 1; 
    margin: 0 auto;
    padding: 24px;
    // max-width: 400px;
    width: 100%;
    overflow: auto;
    height: calc(100% - 100px);

    @media screen and (min-width: 768px) {
        padding: 40px;
    }

    @media screen and (min-width: 1024px) {
        display: grid;
        grid-template-columns: 855px 1fr;
    }
}

/* Hide scrollbar for Chrome, Safari and Opera */
.slideshow_container::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.slideshow_container {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.head_container {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;

    @media screen and (min-width: 768px) {
        flex-direction: row;
    }
}

.image_container {
    position: absolute;
    top: 0;
    width: 100%;

    @media screen and (min-width: 768px) {
        width: 475px;
        height: 560px;
        position: unset;
    }
}

.art_image {
    width: 100%;
    height: 280px;
    object-fit: cover;

    @media screen and (min-width: 768px) {
        height: 100%;
    }
}

.art_details {
    @include mixins.flex-column(start, start, 8px);
    // position: absolute;
    // top: 70%;
    // left: 0;
    width: 100%;
    margin-top: 230px;
    padding: 0;
    z-index: 1;

    @media screen and (min-width: 768px) {
        margin: 0;
        width: 445px;
        position: absolute;
        right: 0;
    }

    @media screen and (min-width: 1024px) {
        justify-content: space-between;
        height: 100%;
    }
}

.art_texts {
    @include mixins.flex-column(start, start, 8px);
    padding: 24px;
    width: 85%;
    background-color: vars.$white-1;

    @media screen and (min-width: 768px) {
        padding: 0 0 65px 65px;
        width: 100%;
        gap: 24px;
    }
}

.artist_image {
    width: 64px;
    height: 64px;
    object-fit: cover;
    margin-left: 16px;

    @media screen and (min-width: 768px) {
        width: 128px;
        height: 128px;
        margin-left: 0;
        place-self: end;
        margin-right: 55px;
    }

    @media screen and (min-width: 1024px) {
        margin: 0;
        place-self: start;
        margin-left: 95px;
    }
}

.description_container {
    position: relative;
    width: 100%;
    height: 100%;
}

.content {
    @include mixins.flex-column(start, start, 0px);
    position: absolute;
    left: 0;
    top: -30px;
    width: 100%;

    @media screen and (min-width: 768px) {
        top: 64px;
        
    }
}

.bottom_content {
    position: absolute;
    top: 75px;

    @media screen and (min-width: 768px) {
        padding: 0 124px;    
    }
    
    @media screen and (min-width: 1024px) {
        padding: 0;
        
    }
}

.btn {
    padding: 68px 0;
}

.modal_container {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100dvh;
    background-color: hsla(0, 0%, 0%, 85%);
    z-index: 2;
}

.hidden {
    display: none;
}

.modal_container:not(.hidden) {
    @include mixins.flex-column(center, center);
} 

.modal {
    @include mixins.flex-column(end, center, 38px);
    padding: 24px;
    width: 100%;
}

.art_gallery {
    height: 100%;
    width: 100%;
}