@use '../../styles/variables' as vars;
@use '../../styles/mixins' as mixins;

.container {
    @include mixins.flex-column(start, start, 24px);
    margin: 24px auto;
    width: fit-content;
    padding-bottom: 3rem;

    @media screen and (min-width: 768px) {
        margin: 24px auto;
        display: block;
        place-self: start;
        width: fit-content;
        column-count: 2;
    }

    @media screen and (min-width: 1024px) {     
        column-count: 3;   
    }

    @media screen and (min-width: 1300px) {
        column-count: 4;
    }
}

.art_card {
    width: 327px; /* Full width of the grid column */
    position: relative;
    margin: 0 auto 20px;
    break-inside: avoid;
    
    @media screen and (min-width: 768px) {
        width: 324px;
    }

    @media screen and (min-width: 1024px) {
        width: 310px;
    }
}

.art_card img {
    width: 100%;
    min-height: 250px;
    object-fit: cover;
    display: block;
    margin: 0;
    padding: 0;
}

.art_details {
    @include mixins.flex-column(start, start, 7px);
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 32px;
    width: 100%;
    background-image: linear-gradient(to bottom, hsla(0, 0%, 0%, 0%), hsla(0, 0%, 0%, 84%));;
}